responsive : {

    // breakpoint from 0 up
    0 : {
        option1: value,
            option2: value,
            ...
    }

    ,
    // breakpoint from 480 up
    480 : {
        option1: value,
            option2: value,
            ...
    }

    ,
    // breakpoint from 768 up
    768 : {
        option1: value,
            option2: value,
            ...
    }
}