.cinema {
    .work-timeline {
        background-color: #40413F;

    }

    .square {
        box-sizing: border-box;
        width: 100px;
        height: 10px;
        background-color: #864406;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    h4 {
        margin-top: 10px;

    }

    h4 {
        color: cyan;
    }

    h5,
    p {
        color: #002F3B;
    }

    h3 {

        color: #002F3B;
    }

    .item {
        padding-bottom: 20px;
    }
}