$locucao-color-02: #FFC640;
$locucao-color-03: #4562A3;
$locucao-bg-color-01: #B37D00;

.locucao {
    width: 100%;

    .work-timeline {
        background-color: $locucao-bg-color-01;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;

    }

    ul {
        width: 100%;
    }

    .square {
        background-color: $locucao-color-02;

    }



    &__title {
        height: 50px;
        margin-top: 10px;

    }

    h4 {
        color: $locucao-color-02;

    }

    &__text {
        color: $locucao-color-03;
    }

    .row {
        position: static;

    }



    .item {
        padding-bottom: 20px;
        display: block;
        margin-bottom: 200px;
        // float: left;
        // text-align: center;
    }

    .card {
        margin-bottom: 20px;
        height: 350px;
    }

    &__card-size {
        min-width: 325px;
        height: 450px;

    }

    &__btn {
        border: 1px solid $locucao-color-03;
        color: $locucao-color-03;
        position: absolute;
        bottom: 15px;
    }

    &__btn:hover {
        background-color: $locucao-color-02;

    }
}