.locucao {
    .work-timeline {
        background-color: #B37D00;

    }

    .square {
        box-sizing: border-box;
        width: 100px;
        height: 10px;
        background-color: #FFC640;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    h4 {
        margin-top: 10px;

    }

    h4{
        color: #F8DD9C;

    }
    h5,
    p {
        color: #4562A3;
    }

    h3 {

        color: #1245B8;
    }

    .item {
        padding-bottom: 20px;
    }
}