$tv-color-01: #FFCF90;
$tv-color-02: #E89C2A;
$tv-color-03: #9C5E0E;
$tv-bg-color-01: #FFCF90;



.television {

    .work-timeline {
        background-color: $tv-bg-color-01;
    }

    .square {

        background-color: $tv-color-02;

    }

    &__title {
        margin-top: 10px;

    }

    &__text {
        color: $tv-color-03;
    }

    .item {
        padding-bottom: 20px;

    }

    &__img {
        max-height: 250px;
    }

    .card {
        margin-bottom: 20px;
        height: 450px;
    }

    &__btn {
        border: 1px solid $tv-color-03;
        color: $tv-color-03;
        position: fixed;
        bottom: 15%;
    }

    &__btn:hover {
        background-color: $tv-color-02;

    }
}