.television {
    .work-timeline {
        background-color: #FFCF90;

    }

    .square {
        box-sizing: border-box;
        width: 100px;
        height: 10px;
        background-color: #E89C2A;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    h4 {
        margin-top: 10px;

    }

    h4,
    h5,
    p {
        color: #9C5E0E;
    }

    h3 {

        color: #9C630E;
    }

    .item {
        padding-bottom: 20px;
    }
}